.googlelogo {
    margin-top: 100px;}
.searchbar{
    margin-top: 50px;
    width: 80%;
    margin-left: 50px;
}
.sbar{
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #dfe1e5;
    padding-left: 15px;
    font-size: 16px;
    position: fixed;
}
.gsearchbtn{
    margin-top: 20px;

    align-items: center;

    padding: 8px 15px;
}
.luckybtn{
    margin-top: 20px;
    margin-left: 30px;
    padding: 8px 15px;
}