
.red{
    width: 500px;
    height: 100px;
    background-color: red;
    margin-left:20px
}
.blue{
    width: 500px;
    height: 100px;
    background-color: rgb(68, 0, 255);
    margin-left:20px;
    margin-top: 10px;
    margin-bottom:10px;
}
.green{
    width: 500px;
    height: 100px;
    background-color: rgb(0, 255, 64);
    margin-left:20px

}